# 忽略特定文件夹
__pycache__/
.idea/
.venv/
datasets/
runs/
app/detection_results/
app/log

# 忽略特定文件
*.pyc
*.log
.env
yolo11n.pt
yolov8m.pt
nano_best.pt
medium_best.pt
merge_datasets.py
my_models.py
app/yolo11n.pt
app/test_videos
my_model.py